* {
    font-family: 'Alumni Sans', sans-serif;
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
    border: 0;
}


.container {
    display: flex;
    flex-direction: column;
    width: 80%;
    margin: 0 auto;
    padding: 0 15px;
}


/* Header */
.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 110px;
    width: 100%;
}

a {
    color: #000;
    text-decoration: none;
}

.header__logo{
    padding: 50px;
    font-size: 36px;
    font-weight: bold;
    text-transform: uppercase;
}

.header__menu {
    display: flex;
    flex-direction: row;
    padding: 50px;
    font-size: 30px;
    color: #000;
    text-decoration: none;
}

.nav__item {
    padding: 10px;
    font-size: 24px;
    text-transform: uppercase;
    transition-duration: 0.4s;
}
.nav__item:hover {
    background-color: #e88103;
    color: white;
    border-radius: 5px;
}

/* Home */
.home {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    background: url(../img/coffee.avif);
    height: 100vh;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.title {
    font-size: 60px;
    text-transform: uppercase;
    color: #fff;
    letter-spacing: .2em;
    position: absolute;
}

.home__block {
    width: 80px;
    height: 10px;
    background: #817070;
    margin-top: 100px;
}

/* Story */
.story__block {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 110px;
    width: 100%;
}

.story__title {
    font-size: 36px;
    display: flex;
    text-transform: uppercase;
    align-items: center;
}

.story {
    display: flex;
    justify-content: center;
    align-items: center;
}

.img__bar {
    width: 600px;
    height: 400px;
}

.text__bar {
    width: 597px;
    padding-left: 40px;
    font-size: 20px;
}

/* Blog */
.blog {
    background-color: #EFEFEF;
    height: 711px;
}

.block__cards {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.blog__title {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 40px 0 40px 0;
    font-size: 36px;
    text-transform: uppercase;
    height: 110px;
    width: 100%;
}

.card {
    display: flex;
    flex-direction: column;
    background-color: #fff;
    width: 325px;
    height: 364px;
    padding: 20px 20px 46px 20px;
}

.card__img {
    width: 325px;
    height: 216px;
    padding: 24px 0 24px 0;
}

.card__text {
    padding-bottom: 0;
    font-size: 18px;
    width: 325px;
    height: 108px;
}

.card__title {
    font-size: 24px;
    text-transform: capitalize;
}

/* Contacts */
.contacts {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 337px;
    background-color: #817070;
}
.contact__title {
    color: #fff;
    font-size: 36px;
    font-weight: 500;
    text-transform: uppercase;
    padding-bottom: 28px;
}

.form__email {
    width: 300px;
    height: 55px;
    
    background: #817070;
    text-align: center;
    padding-bottom: 28px;
}

.form__email input[type="text"]{
    background: none;
    font-size: 20px;
    color: #fff;
    text-align: center;
    align-items: center;
    padding: 10px;
    border: 3px solid #FFF;
    outline: none;
    transition: .3s;
}

.form__email input[type="text"]::placeholder { 
    color: #fff;
}

.form__email input[type="text"]:focus {
    border-color: #e88103;
}

.form__btn {
    padding: 13px 34px 12px 34px;
    color: #817070;
    text-transform: uppercase;
    font-size: 20px;
    cursor: pointer;
}

/* Footer */
footer {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 72px;
}